<%= simple_form_for [@user,@profile] do |f| %>
  <div class="form-group">
    <%= f.input :content, input_html: { class: "form-control"} %>
    <%= f.input :url, input_html: { class: "form-control"} %>
  </div>
  <div class="form-actions">
    <%= f.submit "送出", disable_with: "送出中...", class: "btn btn-primary"%>
  </div>
<% end %>
