<div>
  <form class="form-inline" method="post" action="https://goodbits.io/e/707e674f-b145-4c3d-932b-0a98dcbc3c73" target="_blank">
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only">Last Name</label>
      <input type="text" name="last_name" class="form-control" placeholder="Last Name 姓">
    </div>
    <div class="form-group">
      <label class="sr-only">First Name</label>
      <input type="text" name="first_name" class="form-control" placeholder="First Name 名">
    </div>

    <button type="submit" class="btn btn-primary">訂閱週報</button>
  </form>

</div>
