<div style="background-image: url(assets/images/landscape.jpg); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,0.2)">
    <div class="row" style="padding: 40px;">
      <div class="col-md-5 text-right" style="padding: 12% 5% 10px 0px;">
        <div style="color:white;">
          <h1>Ruby on Rails<br>臺中聚會</h1>
          <br>
          <h4>我們是來自不同領域的夥伴</h4>
          <br>
          <p><%= link_to("免費參加", events_path, class: "btn btn-warning btn-lg", role: "button") %></p>
        </div>
      </div>
      <div class="col-md-7 center-block" style="padding: 5%;" >
        <%=image_tag("coworkers.jpg", class: "img-responsive", alt: "Responsive image")%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-4" style="background-color: black; padding: 60px;">
      <div class="text-center" style="color:white;">
        <div>
          <div>
            <h1 style="color:orange;"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></h1>
          </div>
          <div>
            <h4>聊天</h4>
            <p>平凡的生活步調中<br>與志同道合的夥伴們<br>沒心機的暢談夢想與未來<br>搭配好吃的摩斯漢堡!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4" style="padding: 60px;">
      <div class="text-center">
        <div>
          <div>
            <h1 style="color:orange;"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></h1>
          </div>
          <div>
            <h4>創業</h4>
            <p>心裡有非做不可的事嗎?<br>我們是來自不同行業的夥伴<br>提供各種專業的諮詢<br>給你最真心的建議!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4" style="background-color: black; padding: 60px;">
      <div class="text-center" style="color:white;">
        <div>
          <div>
            <h1 style="color:orange;"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></h1>
          </div>
          <div>
            <h4>求職</h4>
            <p>無論是半途轉職的程式猿<br>或是想累積作品集的初心者<br>可以來場模擬面試<br>我們是你的信心靠山</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center" style="background-color: rgb(242, 242, 242); padding: 50px;">
      <h2>一個人練功太苦悶<br>一群人聚會有神助</h2>
      <br>
      <p><%= link_to("免費參加", events_path, class: "btn btn-warning btn-lg", role: "button") %></p>
   </div>
  </div>
</div>
