<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>問題清單</h2>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='datatable table table-bordered table-striped' style='margin-bottom:0;'>
              <thead>
                <tr>
                  <th>標題</th>
                  <th>發起人</th>
                  <th>狀態</th>
                </tr>
              </thead>
              <tbody>
                <% @issues.each do |issue| %>
                  <tr>
                    <td><%= link_to("#{issue.title}##{issue.id}", issue_path(issue)) %></td>
                    <td><%= issue.owner.name %></td>
                    <td><%= issue.issue_state %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          </div>
          </div>

    </div>
  </div>
</div>
