<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>新增問題</h2>
    <%= simple_form_for @issue do |i| %>
      <div class="form-group">
        <%=i.input :title, label: "問題標題", input_html: {class: "form-control"}%>
        <%=i.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } }, required: true, label: '問題內容' %>
      </div>
      <%=i.submit "Submit", class: "btn btn-primary", data:{disable_with: "Submitting..."}%>
    <% end %>
  </div>
</div>
