<div id="beef-main" class="container-fluid">
      <article class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
          <div class="row">
            <div class="col-md-8">
              <h1 style="color:white;"><%= I18n.t('resource.title') %></h1>
            </div>
            <div class="col-md-4">
              <% if current_user %>
                <%= link_to(I18n.t('resource.new'), new_beef_path, class: "btn btn-primary pull-right", style:"margin:20px") %>
              <% end %>
            </div>
          </div>
          <%= render "resource", beefs: @beefs %>          
        </div>
        <div class="col-xs-4 col-md-3">
          <div id="tag_cloud">
            <% tag_cloud Beef.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>

            <% end %>
          </div>
        </div>
      </article>
</div>
