<div class="container-fluid" style="padding: 15px 30px 15px 50px;">
  <div class="row">

    <div class="col-md-12">
      <div class="group">
        <%= link_to("編輯", edit_beef_path(@beef), class: "btn btn-primary pull-right")%>
      </div>
      <h2><%= @beef.title %></h2>
      <p><%= @beef.description %></p>
    </div>

  </div>
</div>
