<br>
<div class="container">
<div class="row">
  <% @users.each do |user| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x300" alt="...">
        <div class="caption">
          <h3><%= user.name %></h3>
          <p>
          信箱：<%= user.email %><br>
          </p>
          <p><%= link_to("詳情", user_path(user), class: "btn btn-primary btn-block", role: "button") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
