// Place all the styles related to the beefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  line-height: 3.6em;
  .s { font-size: 2.4em; color: #ff4747;}
  .m { font-size: 2.4em; color: #fffa77;}
  .l { font-size: 2.4em; color: #35fb2a;}
  padding: 5% 20% 5% 5%;

}
