// Place all the styles related to the beefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  line-height: 3.6em;
  .s { font-size: 2.4em; color: #ff4747;}
  .m { font-size: 2.4em; color: #fffa77;}
  .l { font-size: 2.4em; color: #35fb2a;}
  padding: 5% 20% 5% 5%;

}
#beef-main{
  background-image: image_url("beef_background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment:center;
  background-position: center;
}
.beef-section{
  background-color: #FFFFFF;
}
.card-block{
  padding: 10px;
  height: 180px;
}
.card-body{
  background-color: #F7F7F7;
  height: 80px;
}
.card-body ul li{
  display: inline;
}
.block-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-title{
  padding: 0px 20px;
}
.author-info{
  padding: 0px 20px;
}
A.beef-title:link  {text-decoration: none; color: #776d6d;}
A.beef-title:visited {text-decoration: none; color: #776d6d;}
A.beef-title:hover {text-decoration: underline; color: #776d6d;}
A.beef-title:active {text-decoration: none; color: #776d6d;}
