// Place all the styles related to the beefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  line-height: 3.6em;
  .s { font-size: 1.2em; }
  .m { font-size: 2.4em; }
  .l { font-size: 3.6em; }
  padding: 5% 20% 5% 5%;

}
