<%= simple_form_for [@user, @image], multipart: true do |f| %>
  <div class="form-group">
    <b>圖片</b> <%= f.file_field :url, label: '圖片' %>
  </div>
  <div class="form-actions">
    <%= f.submit "送出", disable_with: "送出中...", class: "btn btn-primary"%>
  </div>
<% end %>
