<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="page-header">
      <h1>新增圖片</h1>
    </div>
    <%= render :partial => "imageform" %>
  </div>
</div>
</div>
<br>
