<p>Hello <%= @resource.name %>!</p>

<p>因為在地球某處有人提交了變更您的密碼的請求，那個人如果是您的話，你可以透過以下的連結變更您的密碼</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有提交過變更密碼的請求，那就直接忽略這封信吧~</p>
<p>到目前為止，您的密碼還沒有變更，除非您真的去按了上面的連結並更新了密碼。</p>
